body {
	
	font-family: 'Roboto', sans-serif;	
	color: #FBFBFB;
	background-color: #330000;
	overflow-x: hidden;
}
#header{
	
	padding: 20px 0;
	background-color: #220000;
}
#logo{
	
	font-size: 50px;
	text-align: center;
	letter-spacing: 5px;
}
#clock{
	font-size: 50px;
	text-align: center;
}

@media screen and (max-width: 1140px){
	#clock, #logo{
		
		font-size: 20px;
	}
}
#navSpec{
	
	border-bottom: 2px solid #CC0000;
}
#income, #expense, #balance, #settings{
	
	border-right: 1px dotted #CC0000;
}
#income{
	
	border-left: 1px dotted #CC0000;
}
@media screen and (max-width: 1140px){
	#income, #expense, #balance, #settings{
		
		border-right: none;
		border-left: none;
	}
}
#mainContent{
	
	margin-top: 50px;
	margin-bottom: 15px;
}
@media screen and (max-width: 1400px){
	#mainContent{
		
		margin-bottom: 25px;
	}
}
#amount, #date, #paymentMethod, #radioContent{
	
	margin-top: 25px;
}
input[type = text]:focus{
	
	background-color: #FFCCCC;
	border: 2px solid #FF3333;
}
#button{
	
	border: 1px solid #000000;
	font-size: 15px;
}
#footerCss{
	
	font-size: 25px;
	text-align: center;
	background-color: #220000;
	padding: 20px 0;
	border-top: 1px solid #FFFFFF;
	position: fixed;
	bottom: 0px;
	display: block;
	
	
}
@media screen and (max-width: 988px){
	#footerCss{
		
		font-size: 20px;
		padding: 5px;
		position: relative;
		vertical-align: bottom;
	}
}
a#logoLink{
	text-decoration: none;
	color: white;
}
