body {
	
	font-family: 'Roboto', sans-serif;	
	color: #FBFBFB;
	background-color: #330000;
	overflow-x: hidden;
}
#header{
	
	padding: 20px 0;
	background-color: #220000;
}
#logo{
	
	font-size: 50px;
	text-align: center;
	letter-spacing: 5px;
}
#clock{
	font-size: 50px;
	text-align: center;
}

@media screen and (max-width: 1140px){
	#clock, #logo{
		
		font-size: 20px;
	}
}
#navSpec{
	
	border-bottom: 2px solid #CC0000;
}
#income, #expense, #balance, #settings{
	
	border-right: 1px dotted #CC0000;
}
#income{
	
	border-left: 1px dotted #CC0000;
}
@media screen and (max-width: 1140px){
	#income, #expense, #balance, #settings{
		
		border-right: none;
		border-left: none;
	}
}
#footer{
	
	font-size: 25px;
	text-align: center;
	background-color: #220000;
	padding: 20px 0;
	bottom: 0px;
	position: fixed;
	border-top: 1px solid #FFFFFF;	
}
a#logoLink{
	text-decoration: none;
	color: white;
}


