body {
	
	font-family: 'Roboto', sans-serif;	
	color: #FBFBFB;
	background-color: #330000;
	overflow-x: hidden;
}
#header{
	
	padding: 20px 0;
	background-color: #220000;
}
#logo{
	
	font-size: 50px;
	text-align: center;
	letter-spacing: 5px;
}
#clock{
	font-size: 50px;
	text-align: center;
}
@media screen and (max-width: 1140px){
	#clock, #logo{
		
		font-size: 20px;
	}
}
#navSpec{
	
	border-bottom: 2px solid #CC0000;
}
#income, #expense, #balance, #settings{
	
	border-right: 1px dotted #CC0000;
}
#income{
	
	border-left: 1px dotted #CC0000;
}
@media screen and (max-width: 768px){
	#income, #expense, #balance, #settings{
		
		border-right: none;
		border-left: none;
	}
}
#mainContent{
	
	margin-bottom: 15px;
	margin-top: 50px;
	padding-bottom: 50px;
}

#logInBackground{
	
	background-color: #BB0000;
	font-size: 50px;
}
@media screen and (max-width: 768px){
	#logInBackground{
		
		font-size: 30px;
	}
}
#name, #email, #password{
	
	margin-top: 50px;
}
#buttonSpec{
	
	width: 150px;
	margin-top: 50px;
	border: 1px solid #000000;
}
@media screen and (max-width: 768px){
	#name, #email, #password, #buttonSpec{
		
		margin-top: 25px;
	}
}
input[type = text]:focus,
input[type = email]:focus,
input[type = password]:focus{
	
	background-color: #FFCCCC;
	border: 2px solid #FF3333;
}
#footerCss{
	
	text-align: center;
	background-color: #220000;
	border-top: 1px solid #FFFFFF;
	bottom: 0px;
	position: fixed;
	font-size: 20px;
	padding: 5px;
	
}
@media screen and (max-width: 768px){
	#footerCss{
		
		bottom: 0px;
		position: fixed;
		
	}
}
a#logoLink{
	text-decoration: none;
	color: white;
}
