body{
	
	margin: 0px;
	padding: 0px;
	background-image: url(tlo.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Chakra Petch', sans-serif;
	overflow-x: hidden;
	
}
#logo{
	
	background-color: #111E2B;
	
}
.h1,.h3 {
	
	text-align: center;
	margin: 0px;
	color: #E9B64A;
	padding: 5px;
}

#log{
	
	margin: 0px;
	color: #E9B64A;
	padding-top: 17px;
}
@media screen and (max-width: 1140px){
	.h1{
		
		font-size: 30px;
	}
}
@media screen and (max-width: 1140px){
	.h3{
		
		font-size: 20px;
	}
}
@media screen and (max-width: 1140px){
	#log{
		
		font-size: 15px;
		padding-top: 10px;
	}
}
@media screen and (max-width: 1140px){
	p{
		
		font-size: 15px;
	}
}
@media screen and (max-width: 523px){
	#log{
		
		padding-top: 5px;
	}
}
p {
	text-align: center;
}
#content{
	
	padding: 15px;
	border: solid 2px #E9B64A;
	background-color: #FFFFFF;
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	border-radius: 5px;
	clear: both;
}
#balanceContent{
	
	padding: 15px;
	border: solid 2px #E9B64A;
	background-color: #FFFFFF;
	display: block;
	margin-left: auto;
	margin-right:auto;
	margin-top: 50px;
	border-radius: 5px;
	clear: both;
}

.news{
	
	font-size: 12px;
}
.buttons {
	
	display: block;
	text-align: center;
	margin-top: 10px;

}
#incomes, #expenses{
	
	min-width: 350px;
}

th, td {
	
	text-align: center;
}
@media screen and (max-width: 1140px){
	th,td{
		
		font-size: 12px;
	}
}
@media screen and (max-width: 1140px){
	.btn{
		
		font-size: 12px;
	}
}
a#link{
	
	color: #E9B64A;
	text-decoration: none;
}	
